/* Style Umum */
body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f7f7f7;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

/* Layout Galeri Flexbox */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.gallery img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

/* Efek hover biar keren */
.gallery img:hover {
  transform: scale(1.05);
}